/* ファイル名: css/index.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* 背景を黒に設定 */
    color: #ffffff; /* テキストを白に設定 */
  }
  
  h1.title {
    text-align: center;
    color: #f1074e; /* タイトルをテーマカラーに設定 */
    font-size: 2.5rem;
    margin: 20px 0;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  #search-bar {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #f1074e;
    border-radius: 5px;
    color: #000000;
  }
  
  #favorite-filter {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f1074e;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
  }
  
  #favorite-toggle:hover {
    background-color: #d00643;
  }
  
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 10px;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    padding: 10px;
    background-color: #1a1a1a;
    border: 2px solid #f1074e;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: #2b2b2b;
  }
  
  .menu-item .menu-text {
    margin-right: auto;
  }
  
  .menu-item .favorite-icon {
    margin-left: 10px;
    font-size: 1.5rem;
  }
 
  .favorite {
    color: gold;
    cursor: pointer;
  }
  .not-favorite {
    color: gray;
    cursor: pointer;
  }
  
  .side-curtain {
    position: fixed;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #f1074e;
    z-index: 1000;
  }
  
  .left-curtain {
    left: 0;
  }
  
  .right-curtain {
    right: 0;
  }
  