/* ファイル名: css/play.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #f1074e; /* タイトルカラー */
    margin-bottom: 20px;
}

audio {
    margin: 20px 0;
}

#seek-bar {
    width: 80%;
    margin: 10px auto;
    display: block;
}

#current-time {
    font-size: 1em;
    color: #ffffff; /* テキストカラー */
}

.menu-item {
    background-color: #f1074e; /* ボタンの背景色 */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #f1074e; /* ホバー時の背景色 */
    transform: scale(1.05);
}

.menu-icon {
    font-size: 1.5em;
}

.menu-text {
    font-size: 1em;
}

#text {
    color: #ffffff;
}

.jump-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#time-input {
    padding: 5px 10px;
    font-size: 1em;
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#jump-button {
    background-color: #f1074e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#jump-button:hover {
    background-color: #c9053d;
    transform: scale(1.05);
}

/* ハンバーガーボタンのスタイル */
.hamburger {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger div {
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease;
}

/* メニューバーのスタイル */
.menu_bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    background-color: #333;
    color: white;
    display: none;
    flex-direction: column;
    padding: 10px 0;
    z-index: 999;
}

.menu_bar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.menu_bar a:hover {
    background-color: #444;
}

/* メニューが表示されるとき */
.menu_bar.active {
    display: flex;
}

/* 画面の両端のライン */
.side-curtain {
    position: fixed;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #f1074e;
    z-index: 1000;
}
    
.left-curtain {
    left: 0;
}
    
.right-curtain {
    right: 0;
}


button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #f1074e;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d0053b;
}


