/* ../css/index.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    color: #f1074e; /* タイトルカラー */
    margin-bottom: 20px;
}

audio {
    margin: 20px 0;
}

#seek-bar {
    width: 80%;
    margin: 10px auto;
    display: block;
}

#current-time {
    font-size: 1em;
    color: #ffffff; /* テキストカラー */
}

.menu-item {
    background-color: #f1074e; /* ボタンの背景色 */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #f1074e; /* ホバー時の背景色 */
    transform: scale(1.05);
}

.menu-icon {
    font-size: 1.5em;
}

.menu-text {
    font-size: 1em;
}

#text {
    color: #ffffff;
}

.jump-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#time-input {
    padding: 5px 10px;
    font-size: 1em;
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#jump-button {
    background-color: #f1074e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#jump-button:hover {
    background-color: #c9053d;
    transform: scale(1.05);
}
